@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    text-transform: none;
    background: #000;
    color: #fff;
    font-family: "sofia pro black", helvetica Neue, Arial, sans-serif;
}
#navbar{
    background-color: rgba(0,0,0,.9);
    padding: 13px 0;
}
.img{
    animation: p .5s infinite linear;
}

@keyframes p{
    50%{
        transform:  scale(1.2);
    }
}

.font{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
sup{
    top: -.5em;
    font-size: .70em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.borda{
    border-collapse: separate;
    border-radius: 20px;
    border-spacing: 0;
}

.text1{
    text-shadow: 0 0 20px #94a3b8,
    0 0 40px #94a3b8;
}
.text2{
    text-shadow: 0 0 20px #65a30d,
    0 0 40px #84cc16;
}
.text3{
    text-shadow: 0 0 20px #0e7490,
    0 0 40px #06b6d4;
}
.text4{
    text-shadow: 0 0 20px #b91c1c,
    0 0 40px #b91c1c;
}
